* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
}

.navbar {
  width: 100%;
  height: 54px;
  background: rgba(0, 0, 0, 0.8470588235);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.navbar h1 {
  color: white;
  margin-left: 20px;
  font-weight: 600;
  font-size: 26px;
}
.navbar h1 i {
  color: rgb(58, 165, 58);
  font-size: 20px;
}
.navbar h1 span {
  color: rgb(19, 149, 19);
  font-weight: 200;
}
.navbar button {
  padding: 8px 20px;
  color: white;
  background: rgb(77, 139, 19);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.section_fox {
  width: 100%;
  height: 120vh;
  background: #00CDCD;
  padding-top: 100px;
}
.section_fox .fox_navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_fox .fox_navbar .logo {
  display: flex;
}
.section_fox .fox_navbar .logo h2 {
  margin-left: 4px;
  margin-right: 40px;
  cursor: pointer;
  font-size: 26px;
  color: white;
  animation: animate 4s linear infinite;
}
.section_fox .fox_navbar .logo h3 {
  color: white;
  margin-left: 40px;
  margin-top: 10px;
  display: inline-flex;
}
.section_fox .fox_navbar .logo h3 i {
  margin-right: 10px;
}
.section_fox .fox_navbar ul {
  margin-right: 100px;
}
.section_fox .fox_navbar li {
  display: inline-block;
  margin-right: 16px;
}
.section_fox .fox_navbar li a {
  font-size: 24px;
  font-weight: 300;
  color: white;
  position: relative;
}
.section_fox .fox_navbar li .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background: white;
}
.section_fox .fox_navbar li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  background: white;
  width: 0;
  height: 3px;
  border-radius: 12px;
  transition: 0.5s;
}
.section_fox .fox_navbar li a:hover::after {
  width: 100%;
}
.section_fox .content_fox {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.section_fox .content_fox .content_text {
  width: 40%;
  margin-left: 15%;
}
.section_fox .content_fox .content_text p {
  color: white;
}
.section_fox .content_fox .content_text h1 {
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  margin: 20px 0;
  font-weight: bold;
}
.section_fox .content_fox .content_text h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.section_fox .content_fox .content_text button {
  background: white;
  color: #00CDCD;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.section_fox .content_fox .content_img img {
  border-radius: 20px;
  margin-left: 100px;
}

.blog {
  width: 100%;
  height: 70vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .box {
  width: 280px;
  height: 280px;
  text-align: center;
  background: #00CDCD;
  padding: 0 30px;
  margin-right: 20px;
}
.blog .box i {
  font-size: 60px;
  margin-top: 50px;
  color: white;
}
.blog .box h2 {
  font-size: 28px;
  color: white;
  text-transform: capitalize;
  margin-top: 20px;
}
.blog .box p {
  color: white;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */